body {
    display:grid;
    grid-template-areas: 
    "aside header"
    "aside main";
}

.cabecalho {
    grid-area: header;
}

.menu-lateral {
    grid-area: aside;
}

.principa {
    grid-area: main;
}